In [1]:
import pandas as pd

In [3]:
import pandas as pd

# Example data for products
products_data = {
    'ProductID': [101, 102, 103, 104, 105],
    'ProductName': ['Laptop', 'Phone', 'Tablet', 'Headphones', 'Keyboard'],
    'Price': [999.99, 699.99, 299.99, 149.99, 49.99],
    'Stock': [50, 100, 30, 75, 200]
}

# Create DataFrame
products_df = pd.DataFrame(products_data)

# Print the DataFrame
products_df

   ProductID ProductName   Price  Stock
0        101      Laptop  999.99     50
1        102       Phone  699.99    100
2        103      Tablet  299.99     30
3        104  Headphones  149.99     75
4        105    Keyboard   49.99    200